* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    font-size: large;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.game-svg {
    width: 100%;
    height: 100%;
}

.screen {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
}

.username {
    position: absolute;
    left: 5px;
    bottom: 5px;
}

.action-panel {
    flex: 0 0 40px;
    overflow: scroll;
    background-color: rgb(119, 141, 158);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.bottom-panel {
    flex: 0 0 160px;
    overflow: scroll;
    background-color: rgb(119, 141, 158);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.top {
    flex: auto;
    display: flex;
    overflow: hidden;
    flex-direction: row;
}

.lobby-panel {
    flex: 0 0 300px;
    background-color: rgb(169, 184, 224);
    display: none;
}

.screen[state="lobby"] .lobby-panel {
    display: inline;
}

.right-panel {
    flex: 0 0 300px;
    background-color: rgb(169, 184, 224);
    display: none;
    flex-direction: column;
}

.screen[state="stateless-game"] .right-panel {
    display: inline;
}

.main-panel {
    flex: auto;
    background-color: white;
    display: flex;
    position: relative;
}

.screen[state="lobby"] .main-panel {
    display: none;
}

.leave-game {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 3px;
}

.game-panel {
    flex: auto;
    background-color: white;
    display: none;
    flex-wrap: wrap;
    overflow-y: scroll;
    position: relative;
}

.screen[state="lobby"] .game-panel {
    display: flex;
}

.game-box {
    border-style: solid;
    border-width: medium;
    background-color: white;
    margin: 4px;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-box:hover {
    background-color: #e0e0e0;
}

.game-box:active {
    background-color: #c0c0c0;
}

.game-box > * {
    flex: none;
    margin: 3px;
}

.game-box > .title {
    font-size: large;
}

.game-box > .board {
    height: 125px;
}

.game-box > .status {
    font-size: medium;
    font-style: italic;
}

.game-box > .players {
    font-size: small;
}

.state-panel {
    flex: 0 0 300px;
    background-color: rgb(169, 184, 224);
    display: none;
    flex-direction: column;
    overflow: scroll;
}

.screen[state="game"] .state-panel {
    display: flex;
}

.state {
    flex: content;
    display: flex;
    flex-direction: column;
}

.state-top {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.state-token {
    margin: 4px;
}

.state-winner {
    margin: 4px;
    font-size: large;
    font-weight: bold;
}

.state-username {
    margin: 4px;
    font-size: medium;
}

.state-username-dead {
    margin: 4px;
    font-size: medium;
    text-decoration: line-through;
}

.state-tiles {
    margin: 2px;
    display: flex;
    flex-direction: row;
    min-height: 32px;
}

.state-tile {
    margin: 2px;
    width: 30px;
    height: 30px;
}

.state-separator {
    width: 95%;
    height: 2px;
    align-self: center;
    background-color: #405060;
    margin-top: 4px;
    margin-bottom: 4px;
}

.state-draw-piles {
    flex: 1 1 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

.state-draw-pile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.state-draw-tile {
    margin: 4px;
    width: 100px;
    height: 100px;
}

.state-draw-count {
    margin: 4px;
    font-size: x-large;
}

.bottom-tile {
    width: 128px;
    height: 128px;
}

.tile-selected {
    padding: 10px;
    background-color: white;
}

.tile-unselected {
    padding: 10px;
    background-color: transparent;
}

.rectangular-board {
    fill: #ffd090;
    stroke: #806048;
    stroke-width: 0.04;
}

.rectangular-board-notch {
    stroke-width: 0.06;
}

.regular-tile-visible {
    fill: #5f4617;
    stroke: #251c09;
    stroke-width: 0.02;
}

.regular-tile-hidden {
    fill: #473411;
    stroke: #251c09;
    stroke-width: 0.02;
}

.regular-tile-path-outer {
    fill: none;
    stroke: #a1a1a1;
    stroke-width: 0.1;
}

.regular-tile-path-inner {
    fill: none;
    stroke: #ffffff;
    stroke-width: 0.04;
}